[req]
default_bits  = 2048
distinguished_name = req_distinguished_name
req_extensions = req_ext
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
countryName = DK
stateOrProvinceName = Region Midt
localityName = Aarhus
organizationName = Network Security
organizationalUnitName = Group 8
commonName = 10.0.2.4: vpnServer.grp8.netsec.com
emailAddress = operations@grp8.netsec.com
[req_ext]
subjectAltName = @alt_names
[v3_req]
subjectAltName = @alt_names
[alt_names]
IP.1 = 10.0.2.4
